<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/fontawesome.css" integrity="sha512-R439Y7wTgNvDmo1J2E7IwVQ75Lp7RA1EQ2wmVmfDsQTRnQ8mlrzKTvu8T+S8+qEz5NTz2LrENYFMGcUY/cygiA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/fontawesome.min.css" integrity="sha512-3o6sLqJ/1I3kTMda1Zv1f44QfE/WwpVtiJyAYCwhlIuf5e37PDtAY26bj2qBODoUj+MN/jFL/8QKe6ZE9I/dVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profil' %}">PROFIL</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">KONTAK</a>
        </li>

         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            SDM
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'sdm' %}">Karyawan</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            REFERENSI
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'buku' %}">Buku</a></li>
            <li><a class="dropdown-item" href="{% url 'penulis' %}">Penulis</a></li>
            <li><a class="dropdown-item" href="{% url 'buku' %}">Penerbit</a></li>
            <li><a class="dropdown-item" href="{% url 'pendidikan' %}">Pendidikan</a></li>
            <li><a class="dropdown-item" href="{% url 'sekolah' %}">Sekolah</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
    <div class="m-5">
        {% block content %}
            
        {% endblock content %}
    </div>
</div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>