{% extends 'admin_home/base.html' %}

{% block content %}
    <div class="row">
       {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-6">
            <a href="{% url 'tambah_penulis' %}" class="btn btn-primary btn-sm">Tambah</a>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">NAMA PENULIS</th>
            <th scope="col">JENIS KELAMIN</th>
            <th scope="col">INSTAGRAM</th>
            <th scope="col">AKSI</th>
          </tr>
        </thead>
        <tbody>
          {% for a in penulis %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{a.penulisId}}</td>
            <td>{{a.namapenulis}}</td>
            <td>{{a.jk}}</td>
            <td>{{a.instagram}}</td>
            <td>
              <a href="{% url 'edit_penulis' a.id %}" class="btn btn-warning btn-sm">edit</a>
              <a href="{% url 'hapus_buku' a.id %}" class="btn btn-danger btn-sm">hapus</a>
              <a href="{% url 'view_penulis' a.id %}" class="btn btn-success btn-sm">view</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
