{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'tambah_buku' %}" class="btn btn-primary btn-sm">Tambah</a>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">JUDUL</th>
            <th scope="col">ISBN</th>
            <th scope="col">TAHUN TERBIT</th>
            <th scope="col">SINOPSIS</th>
            <th scope="col">AKSI</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{bukuid}}</td>
            <td>{{judul}}</td>
            <td>{{isbn}}</td>
            <td>{{tahun}}</td>
            <td>{{sinopsi}}</td>
            <td>
              <a href="#" class="btn btn-warning btn-sm">Edit</a>
              <a href="#" class="btn btn-danger btn-sm">Hapus</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
